<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pi_android_inventaire">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PIAndroidInventaire"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PI_Android_inventaire">
        <activity android:name=".activities.ModifierReservation"></activity>
        <activity android:name=".activities.Reservation_index" />
        <activity android:name=".activities.FaireReservation" />
        <activity android:name=".activities.VoirReservations" />
        <activity android:name=".activities.infos_produit" />
        <activity android:name=".activities.Liste_produits" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>